//
// menu.scss
//
.tagline {
    position: absolute;
    background: rgba($dark, 40%);
    font-size: 13px;
    width: 100%;
    z-index: 99;
    .phone {
        vertical-align: top;
        margin-right: 20px;
        padding: 11px 0;
        font-size: 15px;
        a {
            transition: all 0.5s ease;
            &:hover {
                color: $custom !important;
            }
        }
        i {
            margin-right: 8px;
        }
    }
    .top_socials {
        li {
            width: 30px;
            vertical-align: top;
            a {
                display: block;
                line-height: 40px;
                transition: all 0.5s ease;
                font-size: 15px;
                padding: 2px 0;
                &:hover {
                    color: $custom !important;
                }
            }
        }
    }
}

//Navbar
#topnav {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
	background-color: $white;
	box-shadow: 0 0px 10px rgba($dark, 0.3);
	border: 0;
	transition: all .5s ease;
	min-height: 62px;
	.navigation-menu {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		& > li {
			float: left;
			display: block;
			position: relative;
			margin: 0 10px;
			& > a {
				display: block;
				font-size: 13px;
				color: $dark;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 1px;
				transition: all .3s ease;
				line-height: 20px;
				padding-left: 10px;
				padding-right: 15px;
			}
			&:last-of-type {
				& > a {
					padding-right: 0;
				}
			}
			.submenu {
				li {
					a {
						i {
							margin-right: 10px;
							font-size: 14px;
						}
					}
				}
			}
        }
        .dropdown {
            margin-right: 0;
        }
	}
	.logo {
		float: left;
		line-height: 70px;
		transition: all .3s ease;
		color: $dark;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 24px;
	}
	.menu-extras {
		float: right;
	}
	.has-submenu {
		&.active {
			.submenu {
				li {
					&.active {
						& > a {
							color: $custom;
						}
					}
				}
			}
			a {
				color: $custom;
			}
			.menu-arrow {
				border-color: $custom;
			}
		}
	}
	.navbar-toggle {
		border: 0;
		position: relative;
		padding: 0;
		margin: 0;
		cursor: pointer;
		.lines {
			width: 25px;
			display: block;
			position: relative;
			margin: 28px auto;
			height: 15px;
		}
		span {
			height: 2px;
			width: 100%;
			background-color: $white;
			display: block;
			margin-bottom: 5px;
			transition: transform .5s ease;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.open {
			span {
				position: absolute;
				&:first-child {
					top: 6px;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					visibility: hidden;
				}
				&:last-child {
					width: 100%;
					top: 6px;
					transform: rotate(-45deg);
				}
				&:hover {
					background-color: $custom;
				}
			}
		}
    }
}
.has-submenu {
	position: relative;
}
#topnav .navbar-toggle:hover,
#topnav .navbar-toggle:focus,
#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li > a:focus {
	background-color: transparent;
}

.menu-arrow,
.submenu-arrow {
    position: absolute;
    border: solid $dark;
    border-width: 0 1px 1px 0;
    display: inline-block;
}
.menu-arrow {
    padding: 2px;
    transform: rotate(45deg);
    right: -2px;
    top: 33px;
}
.submenu-arrow {
    padding: 3px;
    transform: rotate(-45deg);
    right: 20px;
    top: 18px;
}
.search-bar {
    background-color: rgba($dark, 0.02) !important;
    border: 2px solid $gray-200 !important;
    box-shadow: none !important;
    font-size: 14px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-search {
	display: none;
}
.dropdown-menu-search {
	width: 270px;
	padding: 15px;
	border-top: 2px solid $custom;
}
.noti-icon {
	font-size: 12px !important;
}
.navigation-menu {
	.dropdown-toggle {
		&::after {
			display: none;
		}
	}
}
.navbar-sticky {
	background-color: $white;
	&.small {
		&.small {
			top: 0px !important;
			box-shadow: $shadow !important;
		}
	}
}


@media (min-width: 992px) {
    #topnav {
        .navigation-menu {
            & > li {
                & > a {
                    padding-top: 25px;
                    padding-bottom: 25px;
                    min-height: 62px;
                    border-top: 2px solid transparent;
                }
                &.last-elements {
                    .submenu {
                        left: auto;
                        right: 0;
                        & > li {
                            &.has-submenu {
                                .submenu {
                                    left: auto;
                                    right: 100%;
                                    margin-left: 0;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
                .submenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    padding: 10px 0;
                    list-style: none;
                    min-width: 180px;
                    visibility: hidden;
                    opacity: 0;
                    margin-top: 10px;
                    transition: all .2s ease;
                    background-color: $white;
                    box-shadow: 0 0 7px 0 rgba($dark, 0.1);
                    border-top: 2px solid $custom;
                    &.megamenu {
                        white-space: nowrap;
                        width: auto;
                        & > li {
                            overflow: hidden;
                            width: 180px;
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                    & > li {
                        .submenu {
                            left: 100%;
                            top: 0;
                            margin-left: 10px;
                            margin-top: -1px;
                        }
                    }
                    li {
                        position: relative;
                        ul {
                            list-style: none;
                            padding-left: 0;
                            margin: 0;
                        }
                        a {
                            display: block;
                            padding: 10px 20px;
                            clear: both;
                            white-space: nowrap;
                            font-size: 14px;
                            letter-spacing: 0.03em;
                            color: $dark;
                        }
                    }
                }
                &:hover {
                    & > a {
                        color: $custom !important;
                        border-top: 2px solid $custom;
                    }
                    & > .menu-arrow {
                        border-color: $custom;
                    }
                }
            }
        }
        .navbar-toggle {
            display: none;
        }
        #navigation {
            display: block !important;
        }
        &.scroll-active {
            .navigation-menu {
                & > li {
                    & > a {
                        padding-top: 25px;
                        padding-bottom: 25px;
                    }
                }
            }
        }
        &.scroll {
            top: 0;
            .navigation-menu {
                & > li {
                    & > a {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
    #topnav .navigation-menu {
        > li .submenu li a:hover,
        .has-submenu .submenu > li:hover > a {
            color: $custom;
        }  
    }  
}

@media (max-width: 991px) {
    #topnav {
        .container {
            width: auto;
        }
        .navigation-menu {
            float: none;
            max-height: 400px;
            & > li {
                float: none;
                & > a {
                    color: $dark;
                    padding: 10px 20px;
                    &:after {
                        position: absolute;
                        right: 15px;
                    }
                }
                .submenu {
                    display: none;
                    list-style: none;
                    padding-left: 20px;
                    margin: 0;
                    li {
                        a {
                            display: block;
                            padding: 6px 15px;
                            clear: both;
                            white-space: nowrap;
                            font-size: 14px;
                            letter-spacing: 0.03em;
                            color: $dark;
                            transition: all 0.3s;
                        }
                    }
                    &.open {
                        display: block;
                    }
                    .submenu {
                        display: none;
                        list-style: none;
                        &.open {
                            display: block;
                        }
                    }
                    &.megamenu {
                        & > li {
                            & > ul {
                                list-style: none;
                                padding-left: 0;
                                & > li {
                                    & > span {
                                        display: block;
                                        position: relative;
                                        padding: 10px 15px;
                                        text-transform: uppercase;
                                        font-size: 12px;
                                        letter-spacing: 2px;
                                        color: $dark;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .submenu {
                &.open {
                    .has-submenu {
                        &.open {
                            & > a {
                                color: $custom;
                            }
                        }
                    }
                }
            }
        }
        .navbar-toggle {
            span {
                background-color: $dark;
            }
        }
        .navbar-header {
            float: left;
        }
        .logo {
            padding: 11px 0;
            .logo-light {
                display: none;
            }
            .logo-dark {
                display: block;
            }
        }
        .has-submenu {
            &.active {
                a {
                    color: $custom;
                }
            }
        }
    }

    .menu-arrow {
        top: 15px;
        right: 20px;
    }
    .submenu-arrow {
        transform: rotate(45deg);
        position: absolute;
        right: 20px;
        top: 12px;
    }
    .logo {
        padding: 0 !important;
        line-height: 0;
    }
    
    #topnav .navigation-menu > li > a:hover,
    #topnav .navigation-menu > li .submenu li a:hover,
    #topnav .navigation-menu > li.has-submenu.open > a,
    #topnav .menu-extras .menu-item .search > a:hover {
        color: $custom;
    }
    #navigation {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid $gray-300;
        border-bottom: 1px solid $gray-300;
        background-color: $white;
        &.open {
            display: block;
            overflow-y: auto;
        }
    }
    
}

@media (min-width: 768px) {
    #topnav {
        .navigation-menu {
            & > li {
                &.has-submenu {
                    &:hover {
                        & > .submenu {
                            visibility: visible;
                            opacity: 1;
                            margin-top: 0;
                            & > li {
                                &.has-submenu {
                                    &:hover {
                                        & > .submenu {
                                            visibility: visible;
                                            opacity: 1;
                                            margin-left: 0;
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 426px) {
    .navbar-sticky {
        top: 44px !important;
    }
}

@media (max-width: 425px) {
    .navbar-sticky {
        top: 0px !important;
    }
    .tagline {
        display: none !important;
    }
}

/* Searchbar */
.toggle-search {
	font-size: 24px !important;
}
.search-wrap {
	background-color: $white;
	color: $dark;
	z-index: 9997;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: 70px;
	padding: 0 15px;
	transform: translate3d(0, -100%, 0);
	transition: .3s;
	form {
		display: flex;
		width: 100%;
	}
	.search-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.search-input {
		flex: 1 1;
		border: none;
		outline: none;
		box-shadow: none;
		background-color: transparent;
	}
	.close-search {
		width: 36px;
		height: 64px;
		line-height: 64px;
		text-align: center;
		color: inherit;
		font-size: 24px;
		&:hover {
			color: $warning;
		}
	}
	&.open {
		transform: translate3d($dark);
	}
}

.navbar-custom {
	padding: 20px 0px;
	width: 100%;
	border-radius: 0px;
	z-index: 999;
	margin-bottom: 0px;
	transition: all 0.5s ease-in-out;
	.navbar-nav {
		li {
			a {
				line-height: 26px;
				color: $white;
				font-size: 15px;
				transition: all 0.5s;
				background-color: transparent !important;
				padding: 6px 0;
				margin: 0 15px;
			}
			&:last-of-type {
				& > a {
					margin-right: 0;
				}
            }
		}
		.nav-link {
			padding-right: 0px;
			padding-left: 0px;
		}
	}
	.navbar-toggles {
		padding: .25rem .75rem;
		font-size: 18px;
		background: 0 0;
		border: 1px solid transparent;
		color: $white;
		outline: 0;
	}
	.navbar-toggles-icon {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
	}
}
.nav-social {
	li {
		a {
			color: $white;
		}
	}
}
.navbar-toggler {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 0px;
	color: $white;
}
.logo {
	color: $white !important;
    font-weight: 700;
    font-family: $font-family-base;
	text-transform: uppercase;
	font-size: 26px;
}
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
	color: $custom !important;
}
.navbar-toggle {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 0px;
	color: $white;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: transparent;
	border-color: #337ab7;
}
.menu-toggle {
	padding: 4.5px 10px !important;
	span {
		line-height: 27px;
	}
}
.nav-sticky {
	&.navbar-custom {
		margin-top: 0px;
		padding: 10px 0px;
		background-color: $white;
		box-shadow: 0 10px 33px rgba($dark, .1);
		color: $dark !important;
		&.sticky-dark {
			// background-color: $dark !important;
			background-color: $white !important;
		}
		.navbar-toggles {
			padding: .25rem .75rem;
			border: 1px solid transparent;
			outline: 0;
		}
	}
	.navbar-nav {
		margin-top: 0px;
		li {
			a {
				color: $white !important;
				color: $dark !important;
			}
		}
	}
	.navbar-brand {
		color: $dark !important;
	}
	.nav-social {
		li {
			a {
				color: $dark !important;
			}
		}
	}
}

@media (max-width: 768px) {
    .nav-sticky {
        &.navbar-custom {
            .logo {
                color: $white !important;
            }
            &.sticky-dark {
                background-color: $dark !important;
            }
        }
    }
}

@media (min-width: 200px) and (max-width: 767px) {
    .navbar-custom {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: $dark !important;
        box-shadow: 0 10px 33px rgba($dark, .1);
        color: $white !important;
        .navbar-nav {
            li {
                a {
                    transition: all 0.4s;
                    color: $white !important;
                    margin: 0px;
                }
                &.active {
                    a {
                        border-color: transparent;
                    }
                }
            }
        }
        & > .container {
            width: 90%;
        }
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-toggler {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: $white !important;
        padding: 4px 0 !important;
    }
    .nav-sticky {
        &.navbar-custom {
            .logo {
                color: $white !important;
            }
            &.sticky-dark {
                background-color: $dark !important;
            }
        }
    }
}